<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
  <h1>Генератор паролей - это онлайн-инструмент, позволяющий генерировать сложные и надежные пароли онлайн. Данные пароли досточно хорошо защищены от подбора злоумышленниками. Они генерируются случайным образом и нигде не хранятся. Для генерации пароля введите его длину и нажмите "Сгенерировать".</h1>
  <p><a href="{% url 'about' %}">Вернутся на Главную</a></p>
</div>
</body>
</html>